# General
.DS_Store
.vscode/
.idea/
*.log

# Python / DID Checkpoints
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
# Virtual Environments
venv/
.venv/
env/
.env
.env.*
!.env.example

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/flutter_assets/
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*
android/local.properties

# Specific Project Rules
refugee_app_backend/.env
refugee_app_backend/venv/
refugee_app_backend/__pycache__/
frontend/build/
frontend/.dart_tool/
